/* Ensure no scroll bar appears on the page */
html,
body {
  overflow: hidden;
  height: 100%;
}

.container-fluid,
.row,
.col {
  max-height: 100vh; /* Ensure that containers do not overflow */
}

/* Additional styles already included in your index.css */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgb(0 93 164) !important;
}

.text-justify {
  text-align: justify;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

.bg-image {
  background-size: cover;
  background-position: center;
}

.desplegable {
  position: relative;
  z-index: 2;
}
